$color-dark-blue: #2B3945;
$color-very-dark-blue-bg: #202C37;
$color-very-dark-blue-text: #111517;
$color-dark-blue-shade: #1c2731;
$color-dark-grey: #858585;
$color-light-grey: #D3D3D3;
$color-very-light-grey: #FAFAFA;
$color-white: #FFFFFF;
$color-black: #000000;
