@import '_variables';

header.header {
  box-shadow: 0 0 .5rem $color-light-grey;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 0 0;
  }
}
